.navbar {
    display: flex;
    /* ne pas dépasser sur les bords*/
    flex-wrap: wrap; 
    align-items: center;
    /* répartir l'espace */
    justify-content: space-between;
    /* Ma navbar noire couleur et taille */
    position: fixed;
    width: 100%; 
    min-height: 75px;
    padding: 1rem;
    background-color: black;
    color: white;
}

.navbar__links {
    /* en ligne */
    display: flex;
}

.navbar__link {
    padding: 0 0.3rem;
    /* hérité du parent */
    color: inherit;
}
.navbar__burger{
    outline: none;
    width: 50px;
    height: 50px;
    /* le carré menu burger transparent dans la NavBAr */
    background: transparent ; /* on rend transparend le burger pour le DESKTOP) */
    margin-right: 2rem; /* pour ne pas être caché par le scroll bar */
    border: none;
    color: inherit; 
    /*display:none; /* on masque le burger pour le DESKTOP)=> sinon on décale tout, mieux de le rendre transparent */
}

@media screen and (max-width:767px) {
    .navbar__links {
        /* en colonne pour le Mobile */
        flex-direction: column;
        justify-content: center;
        align-items: center;   
        position: fixed;
        /* on affiche tout le menu sur fond noir à la place du texte 
        left: 0;
        right: 0; */
        /* on masque le menu, on ne garde que le burger */
        right:-100vh;
        bottom: 0;
        height: 100vh;
        padding:2rem;
        /* pour être sûr */
        /*
        Là où visibility:hidden laissera un espace entre les éléments précédant et suivant
        l'élément rendu invisible, display:none "efface" l'élément ciblé sans laisser de trace : 
        les éléments précédents et suivants se retrouvent côte à côte, comme si l'élément visé n'existait pas.
        */
        visibility: hidden;
        background-color: black;
        /* transition*/
        transition: all .8s ease-out;
    }

    .show-nav .navbar__links {
        left: 0; /* ou width:100vw */
        right: 0; 
        visibility:visible ;
    }

    /* trait entre les menus */
    .navbar__item::after {
        content: "";
        display: block;
        margin: 0 auto;
        width: 3vw;
        height: 1px;
        background: #FFF;
    }
    /* on supprime le dernier sous 'contact' => le dernier enfant du <li>*/
    .navbar__item:last-child::after {
        display: none;
    }

    /* style du menu */
    .navbar__link {
        display: block;
        padding: 1.5rem;
        font-size: 5vw;
    }

    /* burger menu */
    .navbar__burger {
        outline: none;
        display:block; /* on affiche le burger en mobile */
        /* pour que le curseur pointe sur l'ensemble des 3 traits*/
        position: fixed;
        top: 1rem;
        right: 1rem;
    }

    .navbar__burger:hover {
        cursor: pointer;
    }

    .burger-bar,
    .burger-bar::before,
    .burger-bar::after {
        display: block;
        width: 45px;
        height: 3px;
        position: relative;
        border-radius: 3px;
        background:  white;
        transition: all .5s ease-in ;        
    }
    .burger-bar::before,
    .burger-bar::after {
        content: "";
        outline: none;
    }
    .burger-bar::before {
        transform: translateY(-10px);
    }
    .burger-bar::after {
        transform: translateY(10px);
    }
    .show-nav .burger-bar::before {
        transform: rotate(45deg);
        width: 25px;
        height: 0.3px;
    }
    .show-nav .burger-bar::after {
        transform: rotate(-45deg);
        width: 25px;
        height: 0.3px;
    }}
    .show-nav .burger-bar {
        /* masquer barre du milieu lors du 'transform to cross' */
        width: 0;
        background: transparent;
    }

    /* BONUS*/
    /* burger button animation*/
    .navbar__item {
        transform: translateY(100vh);
    }
    .show-nav .navbar__item {
        transform: translateY(0);
    }

    /* + tard le faire en js et changer les Seconde par incrémentation*/
    .show-nav .slideInDown-1 {
        transition: all 1s ease-out;
    }
    .show-nav .slideInDown-2 {
        transition: all 1.1s ease-out;
    }
    .show-nav .slideInDown-3 {
        transition: all 1.2s ease-out;
    }
    .show-nav .slideInDown-4 {
        transition: all 1.3s ease-out;
    }
    .show-nav .slideInDown-5 {
        transition: all 1.4s ease-out;
    }


