/* Poppins FONT STYLE https://fonts.google.com/specimen/Poppins : multi selection + import + récup code between <stlye> ... </style> + delete swap (react incompatible) 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300'); */


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}
body {
  margin: 0;
  /* CSS rules to specify families ... récupéré de l'import ci-dessus*/
  font-family: 'Poppins', 
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, p {
margin-bottom:1rem;
}

/* RESET */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.main {
  /* padding TOP pour affciher en dessous de la NavBar */
  min-height: 150vh;
  padding: 6rem 1rem 1rem;
}